@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-ic5A9nZU4LHiET: 1px;
  --plasmic-token-unnamed-style-token: var(--token-ic5A9nZU4LHiET);
  --token-19uDnhzwP3Z6WP: var(--token-ErecgPQqRVBIuy);
  --plasmic-token-unnamed-style-token-2: var(--token-19uDnhzwP3Z6WP);
  --token-ErecgPQqRVBIuy: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-ErecgPQqRVBIuy);
  --token--7MZY_8iIHr-Fn: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token--7MZY_8iIHr-Fn);
  --token-lnp5nbq68wrsY3: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-lnp5nbq68wrsY3);
  --token-zIGFIn16uTiSlG: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-zIGFIn16uTiSlG);
  --token-dPNu2YZHLix1kK: var(--token-JIG8FuVIonjAtW);
  --plasmic-token-unnamed-style-token-7: var(--token-dPNu2YZHLix1kK);
  --token-JIG8FuVIonjAtW: var(--token-xITFL75XFZnuPe);
  --plasmic-token-unnamed-style-token-8: var(--token-JIG8FuVIonjAtW);
  --token-xITFL75XFZnuPe: var(--token-g5_0EeI4bxJJSk);
  --plasmic-token-unnamed-style-token-9: var(--token-xITFL75XFZnuPe);
  --token-g5_0EeI4bxJJSk: var(--token-hTAaGWUU-YzHO3);
  --plasmic-token-unnamed-style-token-10: var(--token-g5_0EeI4bxJJSk);
  --token-hTAaGWUU-YzHO3: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-hTAaGWUU-YzHO3);
  --token-zWfkLwgYQT0FXP: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-zWfkLwgYQT0FXP);
  --token-Y-tnFUv6Pjvivq: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-Y-tnFUv6Pjvivq);
  --token-x5RBRG9kUjybQ_: var(--token-h8QG_E5yCuLZJo);
  --plasmic-token-background-color-1-f-7926: var(--token-x5RBRG9kUjybQ_);
  --token-h8QG_E5yCuLZJo: #1f7926;
  --plasmic-token-1-f-7926: var(--token-h8QG_E5yCuLZJo);
  --token-Ge_iXFR5HYZnLs: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-Ge_iXFR5HYZnLs);
  --token-3ccxXh-eyo9m_e: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-3ccxXh-eyo9m_e);
  --token-qXfvyP4CcD14ke: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-qXfvyP4CcD14ke);
  --token-6q8V46lGC2x: #9dd3e1;
  --plasmic-token-unnamed-style-token-17: var(--token-6q8V46lGC2x);
  --token-fVBgzRn6jEd: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-fVBgzRn6jEd);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-zWfkLwgYQT0FXP: #15a1c6;
    --plasmic-token-unnamed-style-token-12: var(--token-zWfkLwgYQT0FXP);
    --token-Y-tnFUv6Pjvivq: #f35900;
    --plasmic-token-unnamed-style-token-13: var(--token-Y-tnFUv6Pjvivq);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-HduBVVn14ulrdC_font-family: "Inter", sans-serif;
  --mixin-HduBVVn14ulrdC_font-size: 16px;
  --mixin-HduBVVn14ulrdC_font-weight: 400;
  --mixin-HduBVVn14ulrdC_font-style: normal;
  --mixin-HduBVVn14ulrdC_color: #535353;
  --mixin-HduBVVn14ulrdC_text-align: left;
  --mixin-HduBVVn14ulrdC_text-transform: none;
  --mixin-HduBVVn14ulrdC_line-height: 1.5;
  --mixin-HduBVVn14ulrdC_letter-spacing: normal;
  --mixin-HduBVVn14ulrdC_white-space: pre-wrap;
  --mixin-HduBVVn14ulrdC_user-select: text;
  --mixin-HduBVVn14ulrdC_text-decoration-line: none;
  --mixin-HduBVVn14ulrdC_text-overflow: clip;
  --mixin-ZsoxRFukAfsDIA_color: #000000;
  --mixin-ZsoxRFukAfsDIA_font-weight: 900;
  --mixin-ZsoxRFukAfsDIA_font-size: 72px;
  --mixin-ZsoxRFukAfsDIA_line-height: 1;
  --mixin-ZsoxRFukAfsDIA_letter-spacing: -4px;
  --mixin-ZsoxRFukAfsDIA_white-space: pre-wrap;
  --mixin-0YxF2a6EwW9zfa_color: #000000;
  --mixin-0YxF2a6EwW9zfa_font-size: 48px;
  --mixin-0YxF2a6EwW9zfa_font-weight: 700;
  --mixin-0YxF2a6EwW9zfa_letter-spacing: -1px;
  --mixin-0YxF2a6EwW9zfa_line-height: 1.1;
  --mixin-0YxF2a6EwW9zfa_white-space: pre-wrap;
  --mixin-96amuXAfrfRFyC_color: #0070f3;
  --mixin-96amuXAfrfRFyC_white-space: pre-wrap;
  --mixin-66Nr6vcVehWIyd_color: #000000;
  --mixin-66Nr6vcVehWIyd_font-size: 32px;
  --mixin-66Nr6vcVehWIyd_font-weight: 600;
  --mixin-66Nr6vcVehWIyd_letter-spacing: -0.8px;
  --mixin-66Nr6vcVehWIyd_line-height: 1.2;
  --mixin-66Nr6vcVehWIyd_white-space: pre-wrap;
  --mixin-NIAaT0xcVtkYB__color: #000000;
  --mixin-NIAaT0xcVtkYB__font-size: 24px;
  --mixin-NIAaT0xcVtkYB__font-weight: 600;
  --mixin-NIAaT0xcVtkYB__letter-spacing: -0.5px;
  --mixin-NIAaT0xcVtkYB__line-height: 1.3;
  --mixin-NIAaT0xcVtkYB__white-space: pre-wrap;
  --mixin-JoPerrKjciY8vJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JoPerrKjciY8vJ_border-bottom-color: #dddddd;
  --mixin-JoPerrKjciY8vJ_border-bottom-style: solid;
  --mixin-JoPerrKjciY8vJ_border-bottom-width: 1px;
  --mixin-JoPerrKjciY8vJ_border-left-color: #dddddd;
  --mixin-JoPerrKjciY8vJ_border-left-style: solid;
  --mixin-JoPerrKjciY8vJ_border-left-width: 1px;
  --mixin-JoPerrKjciY8vJ_border-right-color: #dddddd;
  --mixin-JoPerrKjciY8vJ_border-right-style: solid;
  --mixin-JoPerrKjciY8vJ_border-right-width: 1px;
  --mixin-JoPerrKjciY8vJ_border-top-color: #dddddd;
  --mixin-JoPerrKjciY8vJ_border-top-style: solid;
  --mixin-JoPerrKjciY8vJ_border-top-width: 1px;
  --mixin-JoPerrKjciY8vJ_border-bottom-left-radius: 3px;
  --mixin-JoPerrKjciY8vJ_border-bottom-right-radius: 3px;
  --mixin-JoPerrKjciY8vJ_border-top-left-radius: 3px;
  --mixin-JoPerrKjciY8vJ_border-top-right-radius: 3px;
  --mixin-JoPerrKjciY8vJ_font-family: "Inconsolata";
  --mixin-JoPerrKjciY8vJ_padding-bottom: 1px;
  --mixin-JoPerrKjciY8vJ_padding-left: 4px;
  --mixin-JoPerrKjciY8vJ_padding-right: 4px;
  --mixin-JoPerrKjciY8vJ_padding-top: 1px;
  --mixin-JoPerrKjciY8vJ_white-space: pre-wrap;
  --mixin-PqVarQgZKdIg8D_border-left-color: #dddddd;
  --mixin-PqVarQgZKdIg8D_border-left-style: solid;
  --mixin-PqVarQgZKdIg8D_border-left-width: 3px;
  --mixin-PqVarQgZKdIg8D_color: #888888;
  --mixin-PqVarQgZKdIg8D_padding-left: 10px;
  --mixin-PqVarQgZKdIg8D_white-space: pre-wrap;
  --mixin-I_wNzbgWlBmsff_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I_wNzbgWlBmsff_border-bottom-color: #dddddd;
  --mixin-I_wNzbgWlBmsff_border-bottom-style: solid;
  --mixin-I_wNzbgWlBmsff_border-bottom-width: 1px;
  --mixin-I_wNzbgWlBmsff_border-left-color: #dddddd;
  --mixin-I_wNzbgWlBmsff_border-left-style: solid;
  --mixin-I_wNzbgWlBmsff_border-left-width: 1px;
  --mixin-I_wNzbgWlBmsff_border-right-color: #dddddd;
  --mixin-I_wNzbgWlBmsff_border-right-style: solid;
  --mixin-I_wNzbgWlBmsff_border-right-width: 1px;
  --mixin-I_wNzbgWlBmsff_border-top-color: #dddddd;
  --mixin-I_wNzbgWlBmsff_border-top-style: solid;
  --mixin-I_wNzbgWlBmsff_border-top-width: 1px;
  --mixin-I_wNzbgWlBmsff_border-bottom-left-radius: 3px;
  --mixin-I_wNzbgWlBmsff_border-bottom-right-radius: 3px;
  --mixin-I_wNzbgWlBmsff_border-top-left-radius: 3px;
  --mixin-I_wNzbgWlBmsff_border-top-right-radius: 3px;
  --mixin-I_wNzbgWlBmsff_font-family: "Inconsolata";
  --mixin-I_wNzbgWlBmsff_padding-bottom: 3px;
  --mixin-I_wNzbgWlBmsff_padding-left: 6px;
  --mixin-I_wNzbgWlBmsff_padding-right: 6px;
  --mixin-I_wNzbgWlBmsff_padding-top: 3px;
  --mixin-I_wNzbgWlBmsff_white-space: pre-wrap;
  --mixin-9rbpnDh_cBxMc4_display: flex;
  --mixin-9rbpnDh_cBxMc4_flex-direction: column;
  --mixin-9rbpnDh_cBxMc4_align-items: stretch;
  --mixin-9rbpnDh_cBxMc4_justify-content: flex-start;
  --mixin-9rbpnDh_cBxMc4_list-style-position: outside;
  --mixin-9rbpnDh_cBxMc4_padding-left: 40px;
  --mixin-9rbpnDh_cBxMc4_position: relative;
  --mixin-9rbpnDh_cBxMc4_list-style-type: disc;
  --mixin-9rbpnDh_cBxMc4_white-space: pre-wrap;
  --mixin-GqHacPd1NCqKXn_display: flex;
  --mixin-GqHacPd1NCqKXn_flex-direction: column;
  --mixin-GqHacPd1NCqKXn_align-items: stretch;
  --mixin-GqHacPd1NCqKXn_justify-content: flex-start;
  --mixin-GqHacPd1NCqKXn_list-style-position: outside;
  --mixin-GqHacPd1NCqKXn_padding-left: 40px;
  --mixin-GqHacPd1NCqKXn_position: relative;
  --mixin-GqHacPd1NCqKXn_list-style-type: decimal;
  --mixin-GqHacPd1NCqKXn_white-space: pre-wrap;
  --mixin-X2t18azrcqp2Pq_color: #000000;
  --mixin-X2t18azrcqp2Pq_font-size: 20px;
  --mixin-X2t18azrcqp2Pq_font-weight: 600;
  --mixin-X2t18azrcqp2Pq_letter-spacing: -0.3px;
  --mixin-X2t18azrcqp2Pq_line-height: 1.5;
  --mixin-X2t18azrcqp2Pq_white-space: pre-wrap;
  --mixin-6HknWLcBV28avQ_color: #000000;
  --mixin-6HknWLcBV28avQ_font-size: 16px;
  --mixin-6HknWLcBV28avQ_font-weight: 600;
  --mixin-6HknWLcBV28avQ_line-height: 1.5;
  --mixin-6HknWLcBV28avQ_white-space: pre-wrap;
  --mixin-1Nwus9x4WyRX-V_color: #3291ff;
  --mixin-1Nwus9x4WyRX-V_white-space: pre-wrap;
  --mixin-ihRgZo6hcLAe3S_white-space: pre-wrap;
  --mixin-icBbxJcCQbsPyY_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-HduBVVn14ulrdC_font-family);
  font-size: var(--mixin-HduBVVn14ulrdC_font-size);
  font-weight: var(--mixin-HduBVVn14ulrdC_font-weight);
  font-style: var(--mixin-HduBVVn14ulrdC_font-style);
  color: var(--mixin-HduBVVn14ulrdC_color);
  text-align: var(--mixin-HduBVVn14ulrdC_text-align);
  text-transform: var(--mixin-HduBVVn14ulrdC_text-transform);
  line-height: var(--mixin-HduBVVn14ulrdC_line-height);
  letter-spacing: var(--mixin-HduBVVn14ulrdC_letter-spacing);
  white-space: var(--mixin-HduBVVn14ulrdC_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ZsoxRFukAfsDIA_color);
  font-weight: var(--mixin-ZsoxRFukAfsDIA_font-weight);
  font-size: var(--mixin-ZsoxRFukAfsDIA_font-size);
  line-height: var(--mixin-ZsoxRFukAfsDIA_line-height);
  letter-spacing: var(--mixin-ZsoxRFukAfsDIA_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-0YxF2a6EwW9zfa_color);
  font-size: var(--mixin-0YxF2a6EwW9zfa_font-size);
  font-weight: var(--mixin-0YxF2a6EwW9zfa_font-weight);
  letter-spacing: var(--mixin-0YxF2a6EwW9zfa_letter-spacing);
  line-height: var(--mixin-0YxF2a6EwW9zfa_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-96amuXAfrfRFyC_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-66Nr6vcVehWIyd_color);
  font-size: var(--mixin-66Nr6vcVehWIyd_font-size);
  font-weight: var(--mixin-66Nr6vcVehWIyd_font-weight);
  letter-spacing: var(--mixin-66Nr6vcVehWIyd_letter-spacing);
  line-height: var(--mixin-66Nr6vcVehWIyd_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-NIAaT0xcVtkYB__color);
  font-size: var(--mixin-NIAaT0xcVtkYB__font-size);
  font-weight: var(--mixin-NIAaT0xcVtkYB__font-weight);
  letter-spacing: var(--mixin-NIAaT0xcVtkYB__letter-spacing);
  line-height: var(--mixin-NIAaT0xcVtkYB__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JoPerrKjciY8vJ_font-family);
  border-radius: var(--mixin-JoPerrKjciY8vJ_border-top-left-radius)
    var(--mixin-JoPerrKjciY8vJ_border-top-right-radius)
    var(--mixin-JoPerrKjciY8vJ_border-bottom-right-radius)
    var(--mixin-JoPerrKjciY8vJ_border-bottom-left-radius);
  padding: var(--mixin-JoPerrKjciY8vJ_padding-top)
    var(--mixin-JoPerrKjciY8vJ_padding-right)
    var(--mixin-JoPerrKjciY8vJ_padding-bottom)
    var(--mixin-JoPerrKjciY8vJ_padding-left);
  border-top: var(--mixin-JoPerrKjciY8vJ_border-top-width)
    var(--mixin-JoPerrKjciY8vJ_border-top-style)
    var(--mixin-JoPerrKjciY8vJ_border-top-color);
  border-right: var(--mixin-JoPerrKjciY8vJ_border-right-width)
    var(--mixin-JoPerrKjciY8vJ_border-right-style)
    var(--mixin-JoPerrKjciY8vJ_border-right-color);
  border-bottom: var(--mixin-JoPerrKjciY8vJ_border-bottom-width)
    var(--mixin-JoPerrKjciY8vJ_border-bottom-style)
    var(--mixin-JoPerrKjciY8vJ_border-bottom-color);
  border-left: var(--mixin-JoPerrKjciY8vJ_border-left-width)
    var(--mixin-JoPerrKjciY8vJ_border-left-style)
    var(--mixin-JoPerrKjciY8vJ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-PqVarQgZKdIg8D_color);
  padding-left: var(--mixin-PqVarQgZKdIg8D_padding-left);
  border-left: var(--mixin-PqVarQgZKdIg8D_border-left-width)
    var(--mixin-PqVarQgZKdIg8D_border-left-style)
    var(--mixin-PqVarQgZKdIg8D_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-I_wNzbgWlBmsff_font-family);
  border-radius: var(--mixin-I_wNzbgWlBmsff_border-top-left-radius)
    var(--mixin-I_wNzbgWlBmsff_border-top-right-radius)
    var(--mixin-I_wNzbgWlBmsff_border-bottom-right-radius)
    var(--mixin-I_wNzbgWlBmsff_border-bottom-left-radius);
  padding: var(--mixin-I_wNzbgWlBmsff_padding-top)
    var(--mixin-I_wNzbgWlBmsff_padding-right)
    var(--mixin-I_wNzbgWlBmsff_padding-bottom)
    var(--mixin-I_wNzbgWlBmsff_padding-left);
  border-top: var(--mixin-I_wNzbgWlBmsff_border-top-width)
    var(--mixin-I_wNzbgWlBmsff_border-top-style)
    var(--mixin-I_wNzbgWlBmsff_border-top-color);
  border-right: var(--mixin-I_wNzbgWlBmsff_border-right-width)
    var(--mixin-I_wNzbgWlBmsff_border-right-style)
    var(--mixin-I_wNzbgWlBmsff_border-right-color);
  border-bottom: var(--mixin-I_wNzbgWlBmsff_border-bottom-width)
    var(--mixin-I_wNzbgWlBmsff_border-bottom-style)
    var(--mixin-I_wNzbgWlBmsff_border-bottom-color);
  border-left: var(--mixin-I_wNzbgWlBmsff_border-left-width)
    var(--mixin-I_wNzbgWlBmsff_border-left-style)
    var(--mixin-I_wNzbgWlBmsff_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-9rbpnDh_cBxMc4_display);
  flex-direction: var(--mixin-9rbpnDh_cBxMc4_flex-direction);
  align-items: var(--mixin-9rbpnDh_cBxMc4_align-items);
  justify-content: var(--mixin-9rbpnDh_cBxMc4_justify-content);
  list-style-position: var(--mixin-9rbpnDh_cBxMc4_list-style-position);
  padding-left: var(--mixin-9rbpnDh_cBxMc4_padding-left);
  position: var(--mixin-9rbpnDh_cBxMc4_position);
  list-style-type: var(--mixin-9rbpnDh_cBxMc4_list-style-type);
  flex-column-gap: var(--mixin-9rbpnDh_cBxMc4_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GqHacPd1NCqKXn_display);
  flex-direction: var(--mixin-GqHacPd1NCqKXn_flex-direction);
  align-items: var(--mixin-GqHacPd1NCqKXn_align-items);
  justify-content: var(--mixin-GqHacPd1NCqKXn_justify-content);
  list-style-position: var(--mixin-GqHacPd1NCqKXn_list-style-position);
  padding-left: var(--mixin-GqHacPd1NCqKXn_padding-left);
  position: var(--mixin-GqHacPd1NCqKXn_position);
  list-style-type: var(--mixin-GqHacPd1NCqKXn_list-style-type);
  flex-column-gap: var(--mixin-GqHacPd1NCqKXn_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-X2t18azrcqp2Pq_color);
  font-size: var(--mixin-X2t18azrcqp2Pq_font-size);
  font-weight: var(--mixin-X2t18azrcqp2Pq_font-weight);
  letter-spacing: var(--mixin-X2t18azrcqp2Pq_letter-spacing);
  line-height: var(--mixin-X2t18azrcqp2Pq_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-6HknWLcBV28avQ_color);
  font-size: var(--mixin-6HknWLcBV28avQ_font-size);
  font-weight: var(--mixin-6HknWLcBV28avQ_font-weight);
  line-height: var(--mixin-6HknWLcBV28avQ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-1Nwus9x4WyRX-V_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
