.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox___15UAy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #93896a;
  min-width: 0;
  padding: 0px;
}
.text__cWqNg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
.freeBox__x6Xi8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 15px 0px;
}
.freeBox__tThTk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tThTk {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
}
.link__k2Y5A {
  position: relative;
  display: flex;
}
.link___5Peg3 {
  position: relative;
  display: flex;
}
.img__hPb9I {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__hPb9I > picture > img {
  object-fit: contain;
}
.img__hPb9I > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 50px;
  width: 125px;
  margin-right: 30px;
  flex-shrink: 0;
}
.logo > picture > img {
  object-fit: contain;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    margin-right: 75px;
    margin-left: 75px;
  }
}
.link__a94Tq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__a94Tq {
    display: none;
  }
}
.link__fCuom {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fCuom {
    display: none;
  }
}
.link__s4MuQ {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__s4MuQ {
    display: none;
  }
}
.link__nzDn1 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__nzDn1 {
    display: none;
  }
}
.link__gulV2 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gulV2 {
    display: none;
  }
}
.link__y7Q7 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 300px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__y7Q7 {
    display: none;
  }
}
.link__c0Vzm {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__c0Vzm {
    display: none;
  }
}
.link__cnXy4 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cnXy4 {
    display: none;
  }
}
.link___2YQ8 {
  position: relative;
  height: auto;
  color: #93896a;
  font-size: 12px;
  margin-right: 5px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2YQ8 {
    display: none;
  }
}
.link__eNKpL {
  position: relative;
  display: flex;
}
.img__tk6X {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  flex-shrink: 0;
}
.img__tk6X > picture > img {
  object-fit: contain;
}
.img__tk6X > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__p9By {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p9By {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
.hiconsH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 37px;
  font-weight: 300;
  color: #93896a;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsH1 {
    font-size: 25px;
  }
}
.freeBox__tHuwg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tHuwg {
    width: 392px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__omSIj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__omSIj {
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.hiconsIcon1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon1 > picture > img {
  object-fit: contain;
}
.hiconsIcon1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel1 {
    font-size: 14px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.freeBox__k5Yn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k5Yn2 {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon2 > picture > img {
  object-fit: contain;
}
.hiconsIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel2 {
    font-size: 14px;
  }
}
.freeBox__vh7Ff {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vh7Ff {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon3 > picture > img {
  object-fit: contain;
}
.hiconsIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon4 {
    font-size: 14px;
  }
}
.freeBox___7GLFf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.hiconsIcon5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon5 > picture > img {
  object-fit: contain;
}
.hiconsIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  color: #93896a;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon6 {
    font-size: 14px;
  }
}
.offer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px;
  }
}
.offer1:global(.__wab_instance) {
  position: relative;
}
.link__m1Et7 {
  position: relative;
  margin-right: 0;
  display: flex;
}
.offerImage {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
}
.offerImage > picture > img {
  object-fit: contain;
}
.offerImage > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offerImage {
    object-fit: contain;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .offerImage > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .offerImage > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.offerVariant1Url {
  position: relative;
  display: flex;
}
.offerVariant1Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant1Image > picture > img {
  object-fit: cover;
}
.offerVariant1Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant1Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerVariant2Url {
  position: relative;
  display: flex;
}
.offerVariant2Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant2Image > picture > img {
  object-fit: cover;
}
.offerVariant2Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant2Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerH2 {
  padding-right: 0px;
}
.offerParagraph {
  padding-left: 0px;
}
.products {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 110px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 23px;
  }
}
.columns__tElOx {
  --plsmc-rc-col-gap: 0px;
}
.columns__tElOx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__tElOx > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__tElOx > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__tElOx > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tElOx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tElOx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__b74U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__b74U {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__e9GqO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hvrdj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__hvrdj > picture > img {
  object-fit: cover;
}
.img__hvrdj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__irZYu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__irZYu > picture > img {
  object-fit: cover;
}
.img__irZYu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__frbjc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__frbjc > picture > img {
  object-fit: cover;
}
.img__frbjc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__xc6Jj:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__ht14 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__wl7Gf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wl7Gf {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__uZ5Cy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hzXUg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__hzXUg > picture > img {
  object-fit: cover;
}
.img__hzXUg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__s83I4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__s83I4 > picture > img {
  object-fit: cover;
}
.img__s83I4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ePc2Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__ePc2Z > picture > img {
  object-fit: cover;
}
.img__ePc2Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__qpHr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__dqJeq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__tpEWz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tpEWz {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__dEVuH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__cLhik {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__cLhik > picture > img {
  object-fit: cover;
}
.img__cLhik > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__aP37P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__aP37P > picture > img {
  object-fit: cover;
}
.img__aP37P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ggn92 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__ggn92 > picture > img {
  object-fit: cover;
}
.img__ggn92 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___0WZuW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__hgM98 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.columns__o1U3G {
  --plsmc-rc-col-gap: 0px;
}
.columns__o1U3G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__o1U3G > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__o1U3G > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__o1U3G > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o1U3G {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o1U3G > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1T8N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1T8N {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__fmbEg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___5HNcQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img___5HNcQ > picture > img {
  object-fit: cover;
}
.img___5HNcQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__hxRi {
  padding-right: 0px;
}
.text__tMmh1 {
  padding-right: 0px;
}
.img__uRi7N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__uRi7N > picture > img {
  object-fit: cover;
}
.img__uRi7N > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__j04M4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__j04M4 > picture > img {
  object-fit: cover;
}
.img__j04M4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___1RkRv:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__lp84C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__wLjm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wLjm {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__t9JtA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__bqSi4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__bqSi4 > picture > img {
  object-fit: cover;
}
.img__bqSi4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___164L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___164L > picture > img {
  object-fit: cover;
}
.img___164L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___0GRvq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___0GRvq > picture > img {
  object-fit: cover;
}
.img___0GRvq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___8UlkU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__dkFh9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__tSpMr {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tSpMr {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__ta6B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___6ShOt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img___6ShOt > picture > img {
  object-fit: cover;
}
.img___6ShOt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___6Srjd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___6Srjd > picture > img {
  object-fit: cover;
}
.img___6Srjd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__y8AL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__y8AL > picture > img {
  object-fit: cover;
}
.img__y8AL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__lpMh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__wekZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
