.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__nlVkN {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #93896a;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__gkBn6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
.freeBox___3WqnJ {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 15px 0px;
}
.freeBox___0F6Eh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0F6Eh {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
}
.link__sgSg {
  position: relative;
  display: flex;
}
.link__qaaCf {
  position: relative;
  display: flex;
}
.img__l3V9M {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__l3V9M > picture > img {
  object-fit: contain;
}
.img__l3V9M > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.logo2 {
  object-fit: contain;
  max-width: 100%;
  max-height: 50px;
  width: 125px;
  margin-right: 30px;
  flex-shrink: 0;
}
.logo2 > picture > img {
  object-fit: contain;
}
.logo2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo2 {
    margin-right: 100px;
    margin-left: 100px;
  }
}
.link__kis84 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kis84 {
    display: none;
  }
}
.link___50AId {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___50AId {
    display: none;
  }
}
.link__eNsNv {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__eNsNv {
    display: none;
  }
}
.link__sW2Si {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sW2Si {
    display: none;
  }
}
.link__n0QpW {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__n0QpW {
    display: none;
  }
}
.link__pOgqF {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 300px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pOgqF {
    display: none;
  }
}
.link__sGksf {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sGksf {
    display: none;
  }
}
.link__aYnXq {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aYnXq {
    display: none;
  }
}
.link__yUIdw {
  position: relative;
  height: auto;
  color: #93896a;
  font-size: 12px;
  margin-right: 5px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yUIdw {
    display: none;
  }
}
.link___9Mwvq {
  position: relative;
  display: flex;
}
.img__jYnhS {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  flex-shrink: 0;
}
.img__jYnhS > picture > img {
  object-fit: contain;
}
.img__jYnhS > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__aliXi {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 15px 0px;
}
.link__dYp24 {
  position: relative;
  display: none;
}
.logo {
  object-fit: cover;
  max-width: 100%;
  max-height: 50px;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__tcu {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 19px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tcu {
    margin-bottom: 0px;
  }
}
.hiconsH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 37px;
  font-weight: 300;
  color: #93896a;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsH1 {
    font-size: 25px;
  }
}
.freeBox__ursIk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ursIk {
    width: 392px;
  }
}
.freeBox__euaG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__euaG {
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.hiconsIcon1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon1 > picture > img {
  object-fit: contain;
}
.hiconsIcon1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel1 {
    font-size: 16px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.freeBox___8XjGr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8XjGr {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon2 > picture > img {
  object-fit: contain;
}
.hiconsIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel2 {
    font-size: 16px;
  }
}
.freeBox__k7As {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k7As {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon3 > picture > img {
  object-fit: contain;
}
.hiconsIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon4 {
    font-size: 16px;
  }
}
.freeBox__tpzDf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.hiconsIcon5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon5 > picture > img {
  object-fit: contain;
}
.hiconsIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  color: #93896a;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon6 {
    font-size: 16px;
  }
}
.offer {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px;
  }
}
.offer1:global(.__wab_instance) {
  position: relative;
}
.link__fa3Bf {
  position: relative;
  margin-right: 0;
  display: flex;
}
.offerImage {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
}
.offerImage > picture > img {
  object-fit: contain;
}
.offerImage > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.offerVariant1Url {
  position: relative;
  display: flex;
}
.offerVariant1Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant1Image > picture > img {
  object-fit: cover;
}
.offerVariant1Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant1Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerVariant2Url {
  position: relative;
  display: flex;
}
.offerVariant2Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant2Image > picture > img {
  object-fit: cover;
}
.offerVariant2Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant2Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerH2 {
  padding-right: 0px;
}
.offerParagraph {
  padding-left: 0px;
}
.products {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px 110px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }
}
.columns__ozFjD {
  --plsmc-rc-col-gap: 0px;
}
.columns__ozFjD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__ozFjD > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ozFjD > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ozFjD > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ozFjD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ozFjD > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sv5TX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sv5TX {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__afCku:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__yvnGt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__yvnGt > picture > img {
  object-fit: cover;
}
.img__yvnGt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__sq4Xn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__sq4Xn > picture > img {
  object-fit: cover;
}
.img__sq4Xn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xusU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__xusU > picture > img {
  object-fit: cover;
}
.img__xusU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__tkT5:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__etjq8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__iwrLl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iwrLl {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__cxiMk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__gmbSs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__gmbSs > picture > img {
  object-fit: cover;
}
.img__gmbSs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__cKCzo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__cKCzo > picture > img {
  object-fit: cover;
}
.img__cKCzo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__lThe7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__lThe7 > picture > img {
  object-fit: cover;
}
.img__lThe7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__gwow3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__mleru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column___7Y7V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7Y7V {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__hfXjU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__pHxmm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__pHxmm > picture > img {
  object-fit: cover;
}
.img__pHxmm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__kh2Za {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__kh2Za > picture > img {
  object-fit: cover;
}
.img__kh2Za > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ybndS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__ybndS > picture > img {
  object-fit: cover;
}
.img__ybndS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__d4HTt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__s9Nav {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.columns__fvVx {
  --plsmc-rc-col-gap: 0px;
}
.columns__fvVx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__fvVx > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__fvVx > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__fvVx > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fvVx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fvVx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hplih {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hplih {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__sf2Nh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__mnBh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__mnBh > picture > img {
  object-fit: cover;
}
.img__mnBh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__pWgGk {
  padding-right: 0px;
}
.text__scdKr {
  padding-right: 0px;
}
.img__tu9HA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__tu9HA > picture > img {
  object-fit: cover;
}
.img__tu9HA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___2Hylv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___2Hylv > picture > img {
  object-fit: cover;
}
.img___2Hylv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__j9FNb:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__b0S69 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__yTzCb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yTzCb {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__skOqy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__aV34Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__aV34Z > picture > img {
  object-fit: cover;
}
.img__aV34Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___0Dpwc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___0Dpwc > picture > img {
  object-fit: cover;
}
.img___0Dpwc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__mb4Nh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__mb4Nh > picture > img {
  object-fit: cover;
}
.img__mb4Nh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__tie8V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__p2Nse {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__bJgm2 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bJgm2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__jRlen:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__dsDtf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__dsDtf > picture > img {
  object-fit: cover;
}
.img__dsDtf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pcWZj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__pcWZj > picture > img {
  object-fit: cover;
}
.img__pcWZj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rxEg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__rxEg > picture > img {
  object-fit: cover;
}
.img__rxEg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__glwQb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__dwYeM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.squeezeForm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.collection12:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.cwAdvert2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.offer2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
